@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto+Slab&display=swap');

/* Font Style */
h1, h2, h3, h4 {
    font-family: 'Roboto Slab', sans-serif;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}

/* Header */
#container-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Style for title */
#main-title {
    font-size: 60px;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

#banner-text {
    position: relative;
    left: 15px;
}

/* Style for banner image */
#banner-image img {
    width: 900px;
    height: 225px;
}

/* Style for Nav - menu */
#menu {
    padding: 0;
    text-align: center;
    font-size: 17px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.171), lightgrey);
    height: 49px;
}

#menu ul {
    margin-top: 0px;
    padding: 0;
    display: flex;
    justify-content: center;
}

#menu li {
    list-style: none;
    background-color: rgb(240, 224, 84);
    font-weight: bold;
    padding: 3px;
    margin: 10px;
    border-radius: 7%;
    box-shadow: 1px 1px 1px 2px black;
}

#menu a {
    text-decoration: none;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

#menu a:hover {
    background-color: black;
    color: rgb(240, 224, 84);
    border-radius: 7%;
}

/* Footer */
footer {
    text-align: center;
}

footer li {
    list-style: none;
}

.social-links {
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-links i {
    font-size: 300%;
    color: rgb(255, 230, 0);
    padding: 0;
    margin: 15px;
    text-shadow: 0.5px 1px 2px rgba(255, 255, 255, 0.836);
}

.social-links i:hover {
    color: rgb(127, 129, 0);
    text-shadow: none;
}

/* Style for Home page */
/* About-poker-coder style */
#about-poker-coder {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: -200px;
}

#home-image {
    height: 900px;
    width: 750px;
    background: url('../images/man-cards-about.jpg') no-repeat;
    background-size: 100%;
}

#home-cover-text {
    text-align: center;
    background-color: rgba(97, 97, 97, 0.9);
    width: 650px;
    padding: 10px;
    position: relative;
    top: -300px;
}

/* Style for questions section */ 
#questions {
    text-align: center;
}

.questions-box {
    background-color: rgba(44, 44, 44, 0.7);
    border: white 2px outset;
    width: 40%;
    height: 400px;
    padding: 10px;
    margin: 25px;
    display: inline-grid;
}

/* Style for players section */
#players {
    text-align: center;
}

#top-place {
    text-align: center;
    width: 40%;
    height: auto;
    padding: 10px;
    margin-bottom: 50px;
    display: inline-block;
}

#players-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.players-options {
    width: 30%;
    padding: 10px;
}

.circle-container img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: white 2px double;
    object-fit: cover;
}

/* Style for history.html page */
/* Style for history-of-poker section */
#history-of-poker {
    margin-top: 55px;
    display: flex;
    justify-content: space-evenly;
}

#history-text-container {
    width: 750px;
    height: auto;
    text-align: justify;
}

#history-container {
    width: 500px;
}

#history-image-1 img {
    width: 250px;
    height: 167px;
}

#history-image-2 img {
    width: 350px;
    height: 234px;
    left: 130px;
    bottom: 55px;
}

#history-image-3 img {
    width: 210px;
    height: 140px;
    left: 15px;
    bottom: 130px;
}

.history-image-box img {
    border-radius: 2%;
    border: black 1px solid;
    position: relative;
    display: flex;
    justify-content: right;
}

/* Style for tournment section */
#tournments {
    display: flex;
    justify-content: center;
}

#tournments-container {
    width: 450px;
    height: auto;
    background-color: rgba(44, 44, 44, 0.7);
    border: white 2px outset;
    padding: 10px;
}

#tournments-container > h3 {
    text-align: center;
}
#tournments-container > p {
    text-align: justify;
}

/* Style for wsop-last-champions section */
#wsop-last-champions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
}

#wsop-text-container {
    width: 300px;
    text-align: justify;
}

#wsop-table-container {
    width: auto;
    height: auto;
}

#wsop-table-container table {
    border: white 2px outset;
}

#wsop-table-container table td,th {
    padding: 3px;
    border: white 1px solid;
}

#wsop-table-container table th {
    background-color: lightgrey;
    color: black;
}

#wsop-video-container p {
    text-align: center;
}

/* Style for how-to-play.html page */
/* Style for how-play-poker section */
#how-play-poker {
    text-align: center;
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

#how-play-container {
    width: 600px;
}

#how-play-container p {
    background-color: rgba(44, 44, 44, 0.7);
    padding: 10px;
    margin-top: 25px;
    border: white 2px outset;
}

/* Style for rules + hands-rankings + bets-positions sectiond */
.position-model {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-model img {
    width: 600px;
    height: auto;
    padding: 15px;
}

.text-model {
    width: 600px;
    height: auto;
    font-size: 13px;
    text-align: justify;
    padding: 10px;
    margin: 10px 0 10px 0;
}

/* Style for hands-rankings only*/
#hand-rankings {
    background-color: rgb(39, 39, 39);
}

/* !!Media queries!! */
@media screen and (max-width: 1300px) {

    /* Querie for index.html */
    /* Querie for questions section */
    .questions-box {
        font-size: 14px;
    }

    /* Querie for history.html */
    /* Querie for history-of-poker section */
    #history-text-container {
        width: 600px;
        height: auto;
        font-size: 13px;
    }
    
    #history-container {
        width: 400px;
    }
    
    #history-image-1 img {
        width: 200px;
        height: 133px;
    }
    
    #history-image-2 img {
        width: 300px;
        height: 200px;
        left: 100px;
    }
    
    #history-image-3 img {
        width: 160px;
        height: 107px;
        left: 15px;
    }

    /* Querie for wsop-last-champions section */
     #wsop-text-container {
        width: 250px;
        font-size: 13px;
    }
    
    #wsop-table-container {
        font-size: 13px;
    }
    
    #wsop-video-container iframe {
        width: 426px;
        height: 240px;
    }

    #wsop-video-container p {
        font-size: 12px;
    }

    /* Querie for how-to-play.hmtl */
    /* Querie for rules + hands-rankings + bets-positions sections */
    .image-model img {
        width: 400px;
        height: 320px;
        padding: 10px;
    }
    
    .text-model {
        width: 500px;
        height: auto;
        font-size: 12px;
    }
}

@media screen and (max-width: 1080px) {
    /* Querie for banner - title */
    #banner-text h1 {
        font-size: 40px;
    }

    #banner-image img {
        width: 700px;
        height: 175px;
    }

    /* Querie for index.html */
    /* Querie for questions section */
    .questions-box {
        font-size: 14px;
        height: 450px;
        margin: 20px;
    }

    /* Querie for players section */
    #players-container {
        font-size: 12px;
    }
   
    .circle-container img {
        width: 250px;
        height: 250px;
    }

    /* Querie for history.html */
    /* Querie for history-of-poker section */
    #history-of-poker {
        flex-direction: column;
        align-items: center;
    }

    #history-container {
        margin-top: 20px;
    }

    /* Querie for tournments section */
    #tournments-container {
        width: 300px;
        height: auto;
        font-size: 13px;
    }

    /* Querie for wsop-last-champions section */
    #wsop-last-champions {
        flex-direction: column;
    }

    #wsop-video-container {
        margin-top: 35px;
    }

    /* Querie for how-to-play.hmtl */
    /* Querie for how-play-poker section */
    #how-play-container {
        width: 400px;
        height: auto;
        font-size: 13px;
    }

    /* Querie for rules + hands-rankings + bets-positions sections */
    #hand-rankings {
        flex-direction: column;
    }
    
    .position-model {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 880px) {
    /* Querie for banner - title */
    #banner-text h1 {
        font-size: 30px;
    }

    #banner-image img {
        width: 500px;
        height: 125px;
    }

    /* Querie for index.html */
    /* QUerie for about-poker-coder section */
    #home-image {
        height: 700px;
        width: 550px;
    }
    
    #home-cover-text {
        font-size: 15px;
        width: 450px;
        position: relative;
        top: -280px;
    }

     /* Querie for questions section */
     #questions div {
        margin-left: 40px;
        margin-right: 40px;
     }
    .questions-box {
        width: 330px;
        display: inline-block;
    }

    /* Querie for players section */
    #top-place {
        font-size: 13px;
        width: 250px;
    }

    #players-container {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .players-options {
        width: 250px;
        height: auto;
    }

    .circle-container img {
        width: 200px;
        height: 200px;
    }

    /* Querie for history.html */
    /* Querie for history-of-poker section */
    #history-text-container {
        width: 500px;
        font-size: 12px;
    }
    
    #history-container {
        width: 300px;
        height: auto;
    }
    
    #history-image-1 img {
        width: 150px;
        height: 100px;
    }
    
    #history-image-2 img {
        width: 250px;
        height: 167px;
        left: 50px;
    }
    
    #history-image-3 img {
        width: 110px;
        height: 74px;
        bottom: 100px;
    }
}

@media screen and (max-width: 600px) {
    /* Querie for banner - title */
    #banner-text h1 {
        font-size: 25px;
    }

    #banner-image img {
        width: 300px;
        height: 75px;
    }

    /* Querie for menu - nav */
    #menu {
        font-size: 15px;
    }

    /* Querie for footer - icons */
    .social-links i {
        font-size: 200%;
    }

    /* Querie for index.html */
    /* Querie for about-poker-coder section */
    #home-image {
        height: 500px;
        width: 350px;
    }
    
    #home-cover-text {
        font-size: 10px;
        width: 250px;
        position: relative;
        top: -250px;
    }

    /* Querie for questions section */
    #questions div {
        margin-left: 10px;
        margin-right: 10px;
    }

    /* Querie for history.html */
    /* Querie for history-of-poker section */
    #history-text-container {
        width: 300px;
        height: auto;
    }

    /* Querie for tournments section */
    #tournments-container {
        width: 250px;
        height: auto;
        font-size: 12px;
    }

    /* Querie for wsop-last-champions section */
    #wsop-video-container iframe {
        width: 300px;
        height: auto;
    }

    /* Querie for how-to-play.hmtl */
    /* Querie for how-play-poker section */
    #how-play-container {
        width: 300px;
        font-size: 12px;
    }
    
    /* Querie for rules + hands-rankings + bets-positions sections */
    .image-model {
        display: flex;
        justify-content: center;
    }
 
    .image-model img {
        width: 85%;
        height: auto;
    }
  
    .text-model {
        width: 80%;
        font-size: 11px;
    }
}

@media screen and (max-width: 400px) {
    /* Querie for banner - title */
    #banner-text h1 {
        font-size: 15px;
    }

    #banner-image img {
        width: 250px;
    }

    /* Querie for index.html */
    /* QUerie for about-poker-coder section */
    #home-image {
        height: 450px;
        width: 300px;
    }
    
    #home-cover-text {
        font-size: 9px;
        padding: 3px;
        width: 230px;
        position: relative;
        top: -220px;
    }

    /* Querie for questions section */
    #questions div {
        margin-left: 0;
        margin-right: 0;
     }
    .questions-box {
        width: 280px;
        height: 340px;
        font-size: 11px;
    }

    /* Querie for players section */
    .circle-container img {
        width: 170px;
        height: 170px;
    }
}