@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto+Slab&display=swap');

body {
    font-family: Roboto Mono, sans-serif;
}

h1, h3, h4, h6 {
    font-family: Roboto Slab, sans-serif;
}

/* Header */

.banner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#banner-allwin {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/* Footer */
footer {
    text-align: center;
    background-color: rgb(179, 178, 178);
}

footer li {
    list-style: none;
    display: inline;
}

.social-links i {
    font-size: 300%;
    color: green;
    padding: 0;
    margin: 15px;
}

.social-links i:hover {
    color: rgba(0, 71, 0, 0.5)
}