@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto+Slab&display=swap');

/* Font Style */
h1, h2, h3, h4 {
    font-family: Roboto Slab, sans-serif;
}

body {
    font-family: Roboto Mono, sans-serif;
}

/* Header */

/* Style for title */

#main-title {
    font-size: 60px;
    color: #ffffff;
}

.banner-text {
    position: absolute;
    margin-top: -200px;
    margin-left: 30px;
}

/* Style for banner image */

#banner-allwin {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.banner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style for Nav - menu */

#menu {
    text-align: center;
    font-size: 125%;
    background-color: rgb(240, 224, 84);
    height: 40px;
}

#menu li {
    list-style: none;
    display: inline-block;
    background-color: #ffffff;
    margin: 15px;
    position: relative;
    bottom: 7px;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    background-color: black;
    color: rgb(240, 224, 84);
    border-bottom: 3px solid rgb(240, 224, 84);
}

/* Footer */
footer {
    text-align: center;
    background-color: rgba(39, 39, 39);
}

footer li {
    list-style: none;
    display: inline;
}

.social-links i {
    font-size: 300%;
    color: rgb(240, 224, 84);
    padding: 0;
    margin: 15px;
}

.social-links i:hover {
    color: rgba(129, 143, 0, 0.5)
}

/* Style for Home page */
/* About-poker-coder style */

#about-poker-coder {
    text-align: center;
}

#about-poker-coder p {
    background-color: rgba(14, 13, 13, 0.267);
    height: auto;
    width: 50%;
    padding: 10px;
    margin: 30px;
    position: relative;
    left: 22%;
}