@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto+Slab&display=swap');

.background-black {
    background-color: black;
}

/* Font Style */
h1, h2, h3, h4 {
    font-family: Roboto Slab, sans-serif;
}

body {
    font-family: Roboto Mono, sans-serif;
}

/* Header */

/* Style for title */

#main-title {
    font-size: 60px;
    color: #ffffff;
}

.banner-text {
    position: absolute;
    margin-top: -200px;
    margin-left: 30px;
}

/* Style for banner image */

#banner-allwin {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.banner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style for Nav - menu */

#menu {
    text-align: center;
    font-size: 125%;
    background-color: rgb(240, 224, 84);
    height: 40px;
}

#menu ul {
    margin-top: 0px;
}

#menu li {
    list-style: none;
    display: inline-block;
    background-color: #ffffff;
    margin: 15px;
    position: relative;
    bottom: 7px;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    background-color: black;
    color: rgb(240, 224, 84);
    border-bottom: 3px solid rgb(240, 224, 84);
}

/* Footer */
footer {
    text-align: center;
    background-color: rgba(39, 39, 39);
}

footer li {
    list-style: none;
    display: inline;
}

.social-links i {
    font-size: 300%;
    color: rgb(240, 224, 84);
    padding: 0;
    margin: 15px;
}

.social-links i:hover {
    color: rgba(129, 143, 0, 0.5)
}

/* Style for Home page */
/* About-poker-coder style */

#about-poker-code {
    position: relative;
}

#home-image {
    height: 900px;
    width: 100%;
    background: url('../images/man-cards-about.jpg') no-repeat;
    background-size: 40%;
    background-position-x: center;
}

#home-cover-text {
    text-align: center;
    background-color: rgba(97, 97, 97, 0.9);
    color: #ffffff;
    width: 35%;
    padding: 10px;
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 615px;
    top: 950px;
}

/* Style for questions section */ 

#questions {
    text-align: center;
}

.questions-box {
    background-color: rgba(44, 44, 44, 0.7);
    color: #ffffff;
    border: black 2px solid;
    width: 40%;
    height: 400px;
    padding: 10px;
    margin: 25px;
    display: inline-grid;
}

/* Style for players section */

#players {
    text-align: center;
    color: #ffffff;
}

#top-place {
    text-align: center;
    width: 70%;
    height: 120px;
    padding: 10px;
    margin-bottom: 30px;
    display: inline-block;
}

#left-place {
    float: left;
}

#center-place {
    margin: 0 auto;
}

#right-place {
    float: right;
}

.players-options {
    display: inline-block;
    width: 33%;
}

.circle-container img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: #ffffff 1px solid;
}

/* Style for history.html page */
/* Style for history-of-poker section */

#history-of-poker {
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
}

#history-text-container {
    width: 50%;
    height: auto;
}

#history-container {
    position: relative;
}

#history-image-1 img {
    width: 250px;
    height: auto;
}

#history-image-2 img {
    width: 400px;
    height: auto;
    left: 130px;
    bottom: 55px;
}

#history-image-3 img {
    width: 200px;
    height: auto;
    left: 15px;
    bottom: 130px;
}

.history-image-box img {
    border-radius: 2%;
    border: black 1px solid;
    position: relative;
    display: flexbox;
    justify-content: right;
}