@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto+Slab&display=swap');

/* Font Style */
h1, h2, h3, h4 {
    font-family: Roboto Slab, sans-serif;
}

body {
    font-family: Roboto Mono, sans-serif;
    background-color: black;
    color: white;
}

/* Header */

#container-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Style for title */

#main-title {
    font-size: 60px;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

#banner-text {
    position: relative;
    left: 15px;
}

/* Style for banner image */

#banner-image img {
    width: 900px;
    height: auto;
}

/* Style for Nav - menu */

#menu {
    text-align: center;
    font-size: 18px;
    background-color: rgb(240, 224, 84);
    height: 45px;
}

#menu ul {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#menu li {
    list-style: none;
    background-color: #ffffff;
    padding: 0;
    margin: 10px;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    background-color: black;
    color: rgb(240, 224, 84);
    border-bottom: 3px solid rgb(240, 224, 84);
}

/* Footer */
footer {
    text-align: center;
    background-color: rgba(39, 39, 39);
}

footer li {
    list-style: none;
    display: inline;
}

.social-links i {
    font-size: 300%;
    color: rgb(240, 224, 84);
    padding: 0;
    margin: 15px;
}

.social-links i:hover {
    color: rgba(129, 143, 0, 0.5)
}

/* Style for Home page */
/* About-poker-coder style */

#about-poker-code {
    position: relative;
}

#home-image {
    height: 900px;
    width: 100%;
    background: url('../images/man-cards-about.jpg') no-repeat;
    background-size: 40%;
    background-position-x: center;
}

#home-cover-text {
    text-align: center;
    background-color: rgba(97, 97, 97, 0.9);
    color: #ffffff;
    width: 35%;
    padding: 10px;
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 615px;
    top: 950px;
}

/* Style for questions section */ 

#questions {
    text-align: center;
    margin-top: 25px;
}

.questions-box {
    background-color: rgba(44, 44, 44, 0.7);
    border: white 2px outset;
    width: 40%;
    height: 400px;
    padding: 10px;
    margin: 25px;
    display: inline-grid;
}

/* Style for players section */

#players {
    text-align: center;
}

#top-place {
    text-align: center;
    width: 40%;
    height: auto;
    padding: 10px;
    margin-bottom: 50px;
    display: inline-block;
}

#players-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.players-options {
    width: 30%;
    padding: 10px;
}

.circle-container img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: white 2px double;
}

/* Style for history.html page */
/* Style for history-of-poker section */

#history-of-poker {
    margin-top: 55px;
    display: flex;
    justify-content: space-evenly;
}

#history-text-container {
    width: 45%;
    height: auto;
    text-align: justify;
}

#history-container {
    width: 30%;
}

#history-image-1 img {
    width: 250px;
    height: auto;
}

#history-image-2 img {
    width: 350px;
    height: auto;
    left: 130px;
    bottom: 55px;
}

#history-image-3 img {
    width: 210px;
    height: auto;
    left: 15px;
    bottom: 130px;
}

.history-image-box img {
    border-radius: 2%;
    border: black 1px solid;
    position: relative;
    display: flexbox;
    justify-content: right;
}

/* Style for tournment section */

#tournments {
    display: flex;
    justify-content: center;
}

#tournments-container {
    width: 450px;
    height: auto;
    background-color: rgba(44, 44, 44, 0.7);
    border: white 2px outset;
    padding: 10px;
}

#tournments-container > h3 {
    text-align: center;
}
#tournments-container > p {
    text-align: justify;
}

/* Style for wsop-last-champions section */

#wsop-last-champions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
}

#wsop-text-container {
    width: 300px;
    text-align: justify;
}

#wsop-table-container {
    width: auto;
    height: auto;
}

#wsop-table-container table {
    border: white 2px outset;
}

#wsop-table-container table td,th {
    padding: 3px;
    border: white 1px solid;
}

#wsop-table-container table th {
    background-color: lightgrey;
    color: black;
}

#wsop-video-container p {
    text-align: center;
}

/* Style for how-to-play.html page */

/* Style rule for divs elements */

.forty-auto-size {
    width: 40%;
    height: auto;
    margin-top: 25px;
}

/* Style for how-play-poker section */

#how-play-poker {
    text-align: center;
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

#how-play-container {
    width: 40%;
}

#how-play-container p {
    background-color: rgba(44, 44, 44, 0.7);
    padding: 10px;
    margin-top: 25px;
    border: white 2px outset;
}

/* Style for rules section */

#rules-texas-holdem {
    text-align: justify;
    padding: 10px;
    margin: 35px 0 35px 0;
    display: flex;
    justify-content: space-around;
}

#rules-image-container img {
    width: 800px;
    height: auto;
}

/* Style for hands ranking section */

#hand-rankings {
    text-align: justify;
    padding: 10px;
    margin: 35px 0 35px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(39, 39, 39);
}

#hand-image-container img {
    width: 800px;
    height: auto;
}

/* Style for best-positions ranking section */

#bets-positions {
    text-align: justify;
    padding: 10px;
    margin: 35px 0 40px 0;
    display: flex;
    justify-content: space-around;
}

#bets-image-container img{
    width: 800px;
    height: auto;
}

/* Media queries */

@media screen and (max-width: 1080px) {
    /* Querie for banner - title */
    #banner-text h1 {
        font-size: 40px;
    }

    #banner-image img {
        width: 700px;
    }
}

@media screen and (max-width: 880px) {
    /* Querie for banner - title */
    #banner-text h1 {
        font-size: 30px;
    }

    #banner-image img {
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    /* Querie for banner - title */
    #banner-text h1 {
        font-size: 25px;
    }

    #banner-image img {
        width: 300px;
    }

    /* Querie for banner - title */
    #menu {
        font-size: 12px;
        height: 39px;
    }
}

@media screen and (max-width: 400px) {
    /* Querie for banner - title */
    #banner-text h1 {
        font-size: 15px;
    }

    #banner-image img {
        width: 250px;
    }

    /* Querie for banner - title */
    #menu {
        font-size: 12px;
        height: 39px;
    }
}