@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto+Slab&display=swap');

body {
    font-family: Roboto Mono, sans-serif;
}

h1, h3, h4, h6 {
    font-family: Roboto Slab, sans-serif;
}

/* Header */

/* Style for title */

#main-title {
    font-size: 60px;
    color: #ffffff;
}

.banner-text {
    position: absolute;
    margin-top: -200px;
    margin-left: 30px;
}

/* Style for banner image */

#banner-allwin {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.banner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/* Footer */
footer {
    text-align: center;
    background-color: rgb(179, 178, 178);
}

footer li {
    list-style: none;
    display: inline;
}

.social-links i {
    font-size: 300%;
    color: green;
    padding: 0;
    margin: 15px;
}

.social-links i:hover {
    color: rgba(0, 71, 0, 0.5)
}